#tabelLisa {
    outline-style: solid;
    outline-width: 2px;
    background-color: darkgray;
}

.formBox {
    outline-style: solid;
    outline-width: 2px;
    background-color: darkgray;
}

a:link {
    text-decoration: none;
}

a:visited {
    background-color: cornflowerblue;
    color: black;
}

a:visited:hover {
    background-color: lightBlue;
}

a:hover {
    text-decoration: underline;
}

.nimekiri, .lisa {
    background-color: rgba(40, 30, 144, 1.0);
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    color: white;
    font-size: 16px;
}

#salvesta {
    background-color: rgba(66, 244, 125, 1.0);
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    color: black;
    font-size: 16px;
}

.nimekirjaTabel, .nimekirjaRida, .nimekirjaTulp {
    border: 2px solid black;
}

.nimekirjaRida, .nimekirjaTulp {
    padding: 15px;
}

footer {
    outline-style: solid;
    outline-width: 1px;
    font-size: 13px;
    padding: 4px;
    background-color: rgba(125, 152, 196, 0.2);
}

* {
    font-family: Arial, serif;
    font-size: 15px;
    margin-top: 10px;
}
